.padding-bottom-20 {
    padding-bottom: 20px;
}

.mdl-responsive-table {
    table-layout: fixed;
    width: 100%;
}

.mdl-responsive-table a {
    color: #6ab344;
}

.mdl-responsive-table td, th {
    width: 100%;
    white-space: normal;
    text-overflow: clip;
    -o-text-overflow: ellipsis;
    /*word-break: break-all;*/
    text-align: center;

}

.padding-left-10 {
    padding-left: 10px;
}

.card-responsive {
    width: 100%;
    height: auto;
}

.mdl-button--fab.mdl-button--mini-fab {
    height: 20px;
    min-width: 20px;
    width: 20px;
}

button.mat-menu-item {
    width: 100%;
    font-size: 14px;
}

:host ::ng-deep .ui-paginator {
    background-color: #FFFFFF !important;
    border: 1px solid;
    margin-bottom: 30px;
    margin-top: 8px;
    box-shadow: none;
}

