<div class="row">
    <div class="col-lg-12">
        <p-overlayPanel appendTo="body" showCloseIcon="true" #overlayImage>
            <img [src]="getImage()" alt="Product Image" width="200px" height="200px"/>
        </p-overlayPanel>
        <div class="food-menu-section">
            <div class="android-more-section">
                <h4>Manage Product</h4>
                <p-growl appendTo="body" [value]="msgs"></p-growl>
                <div class="table-responsive">
                    <p-table #dt [columns]="cols" [value]="listData" [paginator]="true" [rows]="20"
                             [loading]="loadingStatus">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <input type="text" pInputText size="50" placeholder="Search Product..."
                                       (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                &nbsp;&nbsp;
                                <button pButton (click)="onButtonClick('add')" type="button" pTooltip="Add"
                                        tooltipPosition="top"
                                        icon="pi pi-plus"></button>

                            </div>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5" class="text-center"> Sorry, There are no records to display.</td>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <!--<th>View Image</th>-->
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <!--<td width="50">-->
                                <!--<button *ngIf="rowData.img1" type="button" pButton (click)="viewImage($event,rowData,overlayImage);"-->
                                <!--icon="fa-eye"></button>-->
                                <!--</td>-->
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                                <td>
                                    <button pButton type="button" pTooltip="Edit" tooltipPosition="top"
                                            icon="pi pi-pencil" (click)="editRecord(rowData)"></button>
                                    &nbsp;&nbsp;
                                    <button pButton type="button" (click)="confirmDelete(rowData)" pTooltip="Delete"
                                            tooltipPosition="top"
                                            icon="pi pi-trash"></button>
                                </td>
                            </tr>


                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div *ngIf="displayDialog">
                <p-dialog baseZIndex="99999" [contentStyle]="{'overflow':'visible'}" appendTo="body"
                          [header]="formHeader" (onHide)="hideDialog($event)" [(visible)]="displayDialog"
                          [responsive]="true"
                          showEffect="fade" [modal]="true" minWidth="950" [positionTop]="topPosition">
                    <app-product-form [productModel]="dataModel" [buttonType]="buttonType"
                                      (onFormSubmit)="onFormSubmit($event)"></app-product-form>
                </p-dialog>
            </div>
            <p-confirmDialog appendTo="body"></p-confirmDialog>
        </div>

    </div>
</div>


