<!-- navbar-->
<header class="header mb-5">
    <nav class="navbar navbar-expand-md sticky-top py-1">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/cms/dashboard']"><img src="../../../assets/img/logo.png"
                                                                           height="50px"/></a>
            <button class="navbar-toggler toogle-bg" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                <span style="color: white"><i class="pi pi-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item" *ngIf="isLoggedIn">
                        <a class="nav-link" href="#" [routerLink]="['/cms/dashboard']">Dashboard</a>
                    </li>
                    <!-- Dropdown -->
                    <!--<li class="nav-item" *ngIf="isLoggedIn">-->
                    <!--<a class="nav-link" href="#" [routerLink]="['/cms/manage-product']" id="product-drop">-->
                    <!--Product-->
                    <!--</a>-->

                    <!--</li>-->
                    <li class="nav-item" *ngIf="isLoggedIn">
                        <a class="nav-link" [routerLink]="['/cms/manage-order']">Manage Orders</a>
                    </li>
                    <li class="nav-item" *ngIf="isLoggedIn">
                        <a class="nav-link" href="#" (click)="logOut($event)">Logout</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <!-- /.navbar -->


</header>