<div class="container pad-top-60">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/webstore/home']">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">New account / Sign in</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6">
            <div class="box">
                <h1>New account</h1>
                <p class="lead">Not our registered customer yet?</p>
                <p>With registration with us new world of furniture webstore, fantastic offers and much more opens to
                    you! The whole process will not take you more than a minute!</p>
                <p class="text-muted">Note: The address you provide will be used for the delivery of your order.</p>
                <hr>
                <p-messages [(value)]="infoMsgs"></p-messages>
                <form [formGroup]="registerFormGroup" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" pKeyFilter="alpha" pInputText formControlName="name" type="text"
                               class="form-control" placeholder="Your Full Name">
                        <p-message severity="error" text="Name is Required"
                                   *ngIf="registerFormGroup.controls['name'].hasError('required')&& registerFormGroup.controls['name'].dirty"></p-message>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" pInputText pKeyFilter="email" formControlName="email" type="text"
                               class="form-control" placeholder="Your Valid email">
                        <p-message severity="error" text="Email is Required"
                                   *ngIf="registerFormGroup.controls['email'].hasError('required')&& registerFormGroup.controls['email'].dirty"></p-message>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="pwd" type="password" pInputText formControlName="password" class="form-control"
                               placeholder="Strong Password">
                        <p-message severity="error" text="Password is Required"
                                   *ngIf="registerFormGroup.controls['password'].hasError('required')&& registerFormGroup.controls['password'].dirty"></p-message>
                    </div>
                    <div class="form-group">
                        <label for="addredss">Street Address</label>
                        <input id="addredss" type="text" pInputText formControlName="address" class="form-control"
                               placeholder="Street Address">
                        <p-message severity="error" text="Street Address is Required"
                                   *ngIf="registerFormGroup.controls['address'].hasError('required')&& registerFormGroup.controls['address'].dirty"></p-message>
                    </div>
                    <div class="form-group">
                        <label for="zip-code">Zip Code</label>
                        <input id="zip-code" type="text" pInputText formControlName="zipCode" class="form-control"
                               placeholder="Street Address">
                        <p-message severity="error" text="Zip Code is Required"
                                   *ngIf="registerFormGroup.controls['zipCode'].hasError('required')&& registerFormGroup.controls['zipCode'].dirty"></p-message>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input id="city" type="text" pInputText formControlName="city" class="form-control"
                               placeholder="City">
                        <p-message severity="error" text="City is Required"
                                   *ngIf="registerFormGroup.controls['city'].hasError('required')&& registerFormGroup.controls['city'].dirty"></p-message>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input id="country" type="text" pInputText formControlName="country" class="form-control"
                               placeholder="Country">
                        <p-message severity="error" text="Country is Required"
                                   *ngIf="registerFormGroup.controls['country'].hasError('required')&& registerFormGroup.controls['country'].dirty"></p-message>
                    </div>
                    <div class="text-center">
                        <button type="submit" [disabled]="registerFormGroup.invalid || disableRegisterBtn"
                                (click)="onSubmit()" class="btn btn-primary"><i class="fa fa-user-md"></i> Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <app-login (onLoginSuccess)="onLoginSuccess($event)"></app-login>
        </div>
    </div>
</div>