<div class="box">
    <img *ngIf="showLogo" class="img-center" src="../../../assets/img/logo.png">
    <h1>Login</h1>
    <p *ngIf="!showLogo" class="lead">Already our customer?</p>
    <hr>
    <p-messages [(value)]="infoMsgs"></p-messages>
    <form [formGroup]="loginFormGroup" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" pInputText formControlName="email" placeholder="Email Address"
                   class="form-control">
            <p-message severity="error" text="Email is Required"
                       *ngIf="loginFormGroup.controls['email'].hasError('required')&& loginFormGroup.controls['email'].dirty"></p-message>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" pInputText formControlName="password" placeholder="Password"
                   class="form-control">
            <p-message severity="error" text="Password is Required"
                       *ngIf="loginFormGroup.controls['password'].hasError('required')&& loginFormGroup.controls['password'].dirty"></p-message>
        </div>
        <div class="text-center">
            <button type="submit" [disabled]="loginFormGroup.invalid || disableLoginBtn" (click)="onLogin()"
                    class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in
            </button>
        </div>
    </form>
</div>