<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">
    <div class="col-lg-12">
        <div id="product" class="box">
            <p-table #dt [columns]="cols" [value]="orderList" [paginator]="true" [rows]="10" [loading]="loading">
                <ng-template pTemplate="caption">
                    <div class="row">
                        <div style="margin-top: 5px" class="col-lg-1">
                            Site:
                        </div>
                        <div class="col-lg-5">
                            <div style="text-align: left">
                                <p-dropdown (onChange)="getOrderList($event)" [options]="countryList"
                                            [(ngModel)]="selectedCountry"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Global Filter"
                                       (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </div>
                    </div>


                </ng-template>
                <ng-template *ngIf="!loading" pTemplate="emptymessage">
                    <tr>
                        <td colspan="4" class="text-center"> Sorry, There are no records to display.</td>
                    </tr>

                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                        <th>Order Date</th>
                        <th>Order Status</th>
                        <th>Update Status</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td>
                            {{rowData['orderDate']|date}}
                        </td>
                        <td><span style="padding: 7px"
                                  [ngClass]="{'badge-info':rowData['orderStatus']===BEING_PREPARED, 'badge-success':rowData['orderStatus']===RECEIVED, 'badge-danger': rowData['orderStatus']===CANCLLED, 'badge-warning': rowData['orderStatus']===ON_HOLD}"
                                  class="badge">  {{rowData['orderStatus']}}</span></td>
                        <td>
                            <p-button (onClick)="updateStatus(rowData,BEING_PREPARED)" class="ui-button-info"
                                      pTooltip="Being Prepared" tooltipPosition="top" icon="pi pi-circle-off"
                                      label=""></p-button>&nbsp;
                            <p-button (onClick)="updateStatus(rowData,RECEIVED)" class="ui-button-success"
                                      pTooltip="Received" tooltipPosition="top" icon="pi pi-check" label=""></p-button>&nbsp;
                            <p-button (onClick)="updateStatus(rowData,CANCLLED)" class="ui-button-danger"
                                      pTooltip="Canceled" tooltipPosition="top" icon="pi pi-times" label=""></p-button>&nbsp;
                            <p-button (onClick)="updateStatus(rowData,ON_HOLD)" class="ui-button-warning"
                                      pTooltip="On Hold" tooltipPosition="top" icon="pi pi-clock" label=""></p-button>&nbsp;
                            <p-button (onClick)="viewDetail(rowData)" pTooltip="View Detail" tooltipPosition="top"
                                      icon="pi pi-eye" label=""></p-button>&nbsp;
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>