<div class="container pad-top-60">
    <div class="row">
        <div class="col-md-12">
            <div id="main-slider" class="owl-carousel owl-theme">
                <div class="item"><img src="./assets/img/main-slider1.jpg" alt="" class="img-fluid"></div>
                <div class="item"><img src="./assets/img/main-slider2.jpg" alt="" class="img-fluid"></div>
                <div class="item"><img src="./assets/img/main-slider3.jpg" alt="" class="img-fluid"></div>
                <div class="item"><img src="./assets/img/main-slider4.jpg" alt="" class="img-fluid"></div>
            </div>
            <!-- /#main-slider-->
        </div>
    </div>
</div>
<!--
*** ADVANTAGES HOMEPAGE ***
_________________________________________________________
-->
<div id="advantages">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-heart"></i></div>
                    <h3><a href="#">We love our customers</a></h3>
                    <p class="mb-0">We are known to provide best possible service ever</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-tags"></i></div>
                    <h3><a href="#">Best prices</a></h3>
                    <p class="mb-0">You can check that the height of the boxes adjust when longer text like this
                        one is used in one of them.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                    <h3><a href="#">100% satisfaction guaranteed</a></h3>
                    <p class="mb-0">Free returns on everything for 3 months.</p>
                </div>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>
<!-- /#advantages-->
<!-- *** ADVANTAGES END ***-->
<!--
*** HOT PRODUCT SLIDESHOW ***
_________________________________________________________
-->
<div id="hot">
    <div class="box py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-0">Hot this week</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="product-slider" class="product-slider owl-carousel owl-theme">
            <!--<div class="item" *ngFor="let product of productList">-->
            <!--<div class="product">-->
            <!--<div class="flip-container">-->
            <!--<div class="flipper">-->
            <!--<div class="front"><a href="detail.html"><img src="../../../assets/img/product1.jpg" alt="" class="img-fluid"></a></div>-->
            <!--<div class="back"><a href="detail.html"><img src="../../../assets/img/product1_2.jpg" alt="" class="img-fluid"></a></div>-->
            <!--</div>-->
            <!--</div><a href="detail.html" class="invisible"><img src="../../../assets/img/product1.jpg" alt="" class="img-fluid"></a>-->
            <!--<div class="text">-->
            <!--<h3><a href="detail.html">Fur coat with very but very very long name</a></h3>-->
            <!--<p class="price">-->
            <!--<del></del>$143.00-->
            <!--</p>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.text&ndash;&gt;-->
            <!--<div class="ribbon sale">-->
            <!--<div class="theribbon">SALE</div>-->
            <!--<div class="ribbon-background"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.ribbon&ndash;&gt;-->
            <!--<div class="ribbon new">-->
            <!--<div class="theribbon">NEW</div>-->
            <!--<div class="ribbon-background"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.ribbon&ndash;&gt;-->
            <!--<div class="ribbon gift">-->
            <!--<div class="theribbon">GIFT</div>-->
            <!--<div class="ribbon-background"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.ribbon&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.product&ndash;&gt;-->
            <!--</div>-->

            <!-- /.product-slider-->
        </div>

        <!--<p-carousel headerText="Products" [value]="productList">-->
        <!--<ng-template let-product pTemplate="item">-->

        <!--<div class="owl-item" style="width: 222px">-->
        <!--<div class="item">-->
        <!--<div class="product">-->
        <!--<div class="flip-container">-->
        <!--<div class="flipper">-->
        <!--<div class="front"><a href="detail.html"><img src="../../../assets/img/product1.jpg"-->
        <!--alt="" class="img-fluid"></a></div>-->
        <!--<div class="back"><a href="detail.html"><img src="../../../assets/img/product1_2.jpg"-->
        <!--alt="" class="img-fluid"></a></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<a href="detail.html" class="invisible"><img src="../../../assets/img/product1.jpg" alt=""-->
        <!--class="img-fluid"></a>-->
        <!--<div class="text">-->
        <!--<h3><a href="detail.html">Fur coat with very but very very long name</a></h3>-->
        <!--<p class="price">-->
        <!--<del></del>-->
        <!--$143.00-->
        <!--</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.text&ndash;&gt;-->
        <!--<div class="ribbon sale">-->
        <!--<div class="theribbon">SALE</div>-->
        <!--<div class="ribbon-background"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.ribbon&ndash;&gt;-->
        <!--<div class="ribbon new">-->
        <!--<div class="theribbon">NEW</div>-->
        <!--<div class="ribbon-background"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.ribbon&ndash;&gt;-->
        <!--<div class="ribbon gift">-->
        <!--<div class="theribbon">GIFT</div>-->
        <!--<div class="ribbon-background"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.ribbon&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.product&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->


        <!--&lt;!&ndash;<div class="ui-grid ui-grid-responsive">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="ui-grid-row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="ui-grid-col-12"><img src="../../../assets/img/product2.jpg" width="60"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="ui-grid-row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="ui-grid-col-6">{{product.name}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="ui-grid-col-6">{{product.price}} €</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="ui-grid-row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="ui-grid-col-12">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" pButton icon="pi pi-search"></button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</ng-template>-->
        <!--</p-carousel>-->
        <!-- /.container-->
    </div>
    <!-- /#hot-->
    <!-- *** HOT END ***-->
</div>

