<div class="container pad-top-60">
    <div class="row">
        <div class="col-lg-12" *ngIf="!hideOnCms">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/webstore/home']">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item"><a [routerLink]="['/webstore/order']">My orders</a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">Order # {{order.id}}</li>
                </ol>
            </nav>
        </div>

        <div id="customer-order" class="col-lg-12">
            <div class="box">
                <h1>Order #{{order.id}}</h1>
                <p class="lead">Order was placed on <strong>{{order.orderDate | date}}</strong> and is currently
                    <strong>{{order.orderStatus}}</strong>.</p>
                <hr>
                <div class="table-responsive mb-4">
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Quantity</th>
                            <th>Unit price</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let orderDetail of orderDetailList">
                            <td><img width="30" height="30"
                                     src="../../../assets/img/{{orderDetail.productEntityImg1}}"
                                     alt="White Blouse Armani"></td>
                            <td>{{orderDetail.productEntityName}}
                            </td>
                            <td>{{orderDetail.quantity}}</td>
                            <td>{{orderDetail.unitPrice}}€</td>
                            <td>{{orderDetail.quantity * orderDetail.unitPrice}}€</td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="4" class="text-right">Order subtotal</th>
                            <th>{{totalAmt}}€</th>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-right">Shipping and handling</th>
                            <th>{{order.shippingCost}}€</th>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-right">Tax</th>
                            <th>0€</th>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-right">Total</th>
                            <th>{{totalAmt + order.shippingCost}}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.table-responsive-->
                <div class="row addresses">
                    <div class="col-lg-6">
                        <h2>Invoice address</h2>
                        <p>{{user.name}}<br>{{user.address}}<br>{{user.zipCode}}<br>{{user.city}}<br>{{user.country}}
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h2>Shipping address</h2>
                        <p>{{user.name}}<br>{{user.address}}<br>{{user.zipCode}}<br>{{user.city}}<br>{{user.country}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>