<!-- navbar-->
<header class="header mb-5">
    <nav class="navbar navbar-expand-md sticky-top py-1">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/webstore/home']"><img src="../../../assets/img/logo.png"
                                                                           height="50px"/></a>
            <button class="navbar-toggler toogle-bg" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span style="color: white"><i class="pi pi-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/webstore/home']">Home</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="product-drop" data-toggle="dropdown">
                            Product
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" [routerLink]="['/webstore/product']">All Products</a>
                            <a class="dropdown-item" style="cursor: pointer" *ngFor="let category of categoryArr"
                                [routerLink]="['/webstore/product/'+category.id]">{{category.type}}</a>
                            <!--<a class="dropdown-item" href="#">Chair</a>-->
                            <!--<a class="dropdown-item" href="#">Bed</a>-->

                        </div>
                    </li>
                    <li class="nav-item" *ngIf="!isLoggedIn">
                        <a class="nav-link" [routerLink]="['/webstore/sign-in']">Sign IN</a>
                    </li>
                    <li class="nav-item" *ngIf="!isLoggedIn">
                        <a class="nav-link" [routerLink]="['/webstore/register']">Register</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown" *ngIf="isLoggedIn">
                        <a class="nav-link dropdown-toggle" href="#" id="my-account" data-toggle="dropdown">
                            My Account
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/webstore/order']">My Orders</a>
                            <a class="dropdown-item" [routerLink]="['/webstore/account']">Profile</a>
                            <a class="dropdown-item" href="#" (click)="logOut($event)">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/webstore/cart']">
                            Cart <span *ngIf="cartCounter > 0" class="cart-counter"> {{cartCounter}} </span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- /.navbar -->


</header>