<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container pad-top-60">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/webstore/home']">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/webstore/product']">Product</a></li>
                    <li class="breadcrumb-item"><a href="#" routerLink="/webstore/product/{{categoryId}}">{{categoryName}}</a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">{{product.name}}</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-12">
            <div id="productMain" class="row">
                <div class="col-md-6">
                    <p-galleria [images]="images" panelWidth="550" panelHeight="300" [showCaption]="true"></p-galleria>
                    <!-- /.ribbon-->
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <h1 class="text-center">{{product.name}}</h1>
                        <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details,
                                material &amp; care and sizing</a></p>
                        <p class="price">{{product.price}}€</p>
                        <p class="text-center buttons"><a style="cursor: pointer" (click)="addToCart(product)" class="btn btn-primary"><i
                                    class="fa fa-shopping-cart"></i>
                                Add to cart</a></p>
                    </div>

                </div>

            </div>
            <div id="details" class="box">
                <p></p>
                <h4>Product details</h4>
                <p>{{product.description}}</p>
                <h4>Material</h4>
                <ul>
                    <li>{{product.material}}</li>
                </ul>

            </div>

        </div>
        <!-- /.col-md-9-->
    </div>
</div>