<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container pad-top-60">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/webstore/home']">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
                </ol>
            </nav>
        </div>
        <div id="basket" class="col-lg-9">
            <div class="box">
                <form method="post" action="">
                    <h1>Shopping cart</h1>
                    <p class="text-muted">You currently have {{localCartArr.length}} item(s) in your cart.</p>
                    <p class="text-muted" *ngIf="showInfoMsg">Please login to make an order.</p>
                    <div class="table-responsive" *ngIf="localCartArr.length!==0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2">Product</th>
                                <th>Quantity</th>
                                <th>Unit price</th>
                                <!--<th>Discount</th>-->
                                <th colspan="2">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let cartItem of localCartArr">
                                <td><a style="cursor: pointer" (click)="navigateRoute(cartItem)"><img
                                        src="../../../assets/img/detailsquare.jpg"
                                        alt="{{cartItem.productEntityName}}"></a></td>
                                <td><a style="cursor: pointer" (click)="navigateRoute(cartItem)">{{cartItem.productEntityName}}</a>
                                </td>
                                <td>
                                        <span *ngIf="!cartItem.showEditQty">
                                                 {{cartItem.quantity}}
                                        </span>
                                    <span *ngIf="cartItem.showEditQty">
                                             <!--<input type="text" value="PrimeNG" pInputText>-->
                                            <p-spinner inputStyleClass="input-width" size="80"
                                                       [(ngModel)]="cartItem.quantity"
                                                       [ngModelOptions]="{standalone: true}" [min]="1"></p-spinner>
                                        </span>

                                </td>
                                <td>{{cartItem.productEntityPrice}}€</td>
                                <!--<td>$0.00</td>-->
                                <td>{{cartItem.quantity * cartItem.productEntityPrice}}€</td>
                                <td><a pTooltip="Remove product from cart" tooltipPosition="top"
                                       style="cursor: pointer"><i class="fa fa-trash-o"
                                                                  (click)="onDelete(cartItem)"></i></a>
                                    <a pTooltip="Edit product quantity" tooltipPosition="top"
                                       *ngIf="!cartItem.showEditQty" style="cursor: pointer" (click)="onEdit(cartItem)"><i
                                            class="fa fa-edit"></i></a>
                                    <a pTooltip="Save your change" tooltipPosition="top" *ngIf="cartItem.showEditQty"
                                       style="cursor: pointer" (click)="onSave(cartItem)"><i
                                            class="fa fa-check"></i></a>
                                    <a pTooltip="Discard your change" tooltipPosition="top" *ngIf="cartItem.showEditQty"
                                       style="cursor: pointer" (click)="onCancel(cartItem)"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="4">Total</th>
                                <th colspan="2">{{totalAmount}} €</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive-->
                    <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                        <div class="left">
                            <button (click)="backToProduct()" type="button" class="btn btn-outline-secondary"><i
                                    class="fa fa-chevron-left"></i> Continue shopping
                            </button>
                        </div>
                        <div class="right" *ngIf="localCartArr.length!==0">
                            <button type="button" class="btn btn-primary" (click)="proceedToCheckout()">Proceed to
                                checkout <i
                                        class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.col-lg-9-->
        <div class="col-lg-3">
            <div id="order-summary" class="box">
                <div class="box-header">
                    <h3 class="mb-0">Order summary</h3>
                </div>
                <p *ngIf="localCartArr.length!==0" class="text-muted">Shipping and additional costs are calculated based
                    on the values you have
                    entered.</p>
                <p *ngIf="localCartArr.length==0" class="text-muted"> You don't have any product in cart to show order
                    summary.</p>
                <div class="table-responsive" *ngIf="localCartArr.length!==0">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Order subtotal</td>
                            <th>{{totalAmount}}€</th>
                        </tr>
                        <tr>
                            <td>Shipping and handling</td>
                            <th>{{shippingCost}}€</th>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <th>0.00€</th>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <th>{{totalAmount + shippingCost}}€</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="box">-->
            <!--<div class="box-header">-->
            <!--<h4 class="mb-0">Coupon code</h4>-->
            <!--</div>-->
            <!--<p class="text-muted">If you have a coupon code, please enter it in the box below.</p>-->
            <!--<form>-->
            <!--<div class="input-group">-->
            <!--<input type="text" class="form-control"><span class="input-group-append">-->
            <!--<button type="button" class="btn btn-primary"><i class="fa fa-gift"></i></button></span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /input-group&ndash;&gt;-->
            <!--</form>-->
            <!--</div>-->
        </div>
        <!-- /.col-md-3-->
    </div>
</div>