.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1704;
}

.pad-top-60 {
    padding-top: 55px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #e6e1e1;
    -moz-box-shadow: 0 8px 6px -6px #e6e1e1;
    box-shadow: 0 8px 6px -6px #e6e1e1;
}

.toogle-bg {
    background: #2b90d9;
}

.navbar .navbar-nav > .nav-item > .nav-link.active, .navbar .navbar-nav > .nav-item > .nav-link:hover, .navbar .navbar-nav > .nav-item > .nav-link:focus {
    background: #2b90d9;
    color: white;
}


.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    background-color: #2b90d9;
}

.ui-paginator {
    background-color: #FFFFFF !important;
    border: none !important;
    margin-bottom: 30px;

    -webkit-box-shadow: 0 8px 6px -6px #e6e1e1;
    -moz-box-shadow: 0 8px 6px -6px #e6e1e1;
    box-shadow: 0 8px 6px -6px #e6e1e1;
}

@media (max-width: 62em) {
    .navbar-nav {
        padding-top: .425rem;
        padding-left: 0.75rem;
    }

    .navbar-nav .nav-item {
        float: none;
    }

    .navbar-brand {
        float: right;
    }

    .navbar-brand,
    .navbar-nav .nav-item {
        display: block;
    }

    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    .dropdown-menu {
        position: relative;
        float: none;
    }
}

.cart-counter {
    width: 30px;
    height: 30px;
    background: #2b90d9;
    text-align: center;
    margin-left: 0px;
    padding: 10px;
    color: #FFFFFF;
}

.cart-counter:hover {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    text-align: center;
    margin-left: 0px;
    padding: 10px;
    color: #2b90d9;
}

.spinner-width-90 {
    width: 90px;
}






