<div class="container pad-top-60">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/webstore/home']">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">My account</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-12">
            <div class="box">
                <h1>My account</h1>
                <p class="lead">Change your personal details or your password here.</p>
                <h3>Change password</h3>
                <p-messages [(value)]="pwdInfoMsgs"></p-messages>
                <form [formGroup]="changePasswordForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password_old">Old password</label>
                                <input id="password_old" type="password" formControlName="oldPassword"
                                       class="form-control">
                                <p-message severity="error" text="Old Password is Required"
                                           *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')&& changePasswordForm.controls['oldPassword'].dirty"></p-message>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password_1">New password</label>
                                <input id="password_1" pPassword formControlName="newPassword" type="password"
                                       class="form-control">
                                <p-message severity="error" text="New Password is Required"
                                           *ngIf="changePasswordForm.controls['newPassword'].hasError('required')&& changePasswordForm.controls['newPassword'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password_2">Retype new password</label>
                                <input id="password_2" (blur)="isPasswordMatched()" formControlName="confirmPassword"
                                       type="password" class="form-control">
                                <p-message severity="error" text="Confirm Password is Required"
                                           *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')&& changePasswordForm.controls['confirmPassword'].dirty"></p-message>
                                <p-message severity="error" text="Password Didn't Matched with New Password"
                                           *ngIf="!isPasswordMatched() && changePasswordForm.controls['confirmPassword'].dirty"></p-message>
                            </div>
                        </div>
                    </div>
                    <!-- /.row-->
                    <div class="col-md-12 text-center">
                        <button type="submit" *ngIf="!showDummyPwdSaveBtn"
                                [disabled]="changePasswordForm.invalid || !isPasswordMatched()"
                                (click)="updatePassword()" class="btn btn-primary"><i class="fa fa-save"></i> Save new
                            password
                        </button>
                        <button type="submit" *ngIf="showDummyPwdSaveBtn" [disabled]="true" class="btn btn-primary"><i
                                class="fa fa-save"></i> Save new password
                        </button>
                    </div>
                </form>
                <h3 class="mt-5">Personal details</h3>
                <p-messages [(value)]="userInfoMsgs"></p-messages>
                <form [formGroup]="userForm" *ngIf="userDetail">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fullname">Full Name</label>
                                <input id="fullname" pKeyFilter="alpha" pInputText formControlName="name" type="text"
                                       class="form-control">
                                <p-message severity="error" text="Name is Required"
                                           *ngIf="userForm.controls['name'].hasError('required')&& userForm.controls['name'].dirty"></p-message>
                            </div>
                        </div>
                    </div>
                    <!-- /.row-->
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="street">Street</label>
                                <input id="street" pInputText formControlName="address" type="text"
                                       class="form-control">
                                <p-message severity="error" text="Street Address is Required"
                                           *ngIf="userForm.controls['address'].hasError('required')&& userForm.controls['address'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="zip">ZIP</label>
                                <input id="zip" pInputText formControlName="zipCode" type="text" class="form-control">
                                <p-message severity="error" text="Zip Code is Required"
                                           *ngIf="userForm.controls['zipCode'].hasError('required')&& userForm.controls['zipCode'].dirty"></p-message>
                            </div>
                        </div>
                    </div>
                    <!-- /.row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input id="city" type="text" formControlName="city" pInputText class="form-control">
                                <p-message severity="error" text="City Code is Required"
                                           *ngIf="userForm.controls['city'].hasError('required')&& userForm.controls['city'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input id="country" type="text" formControlName="country" pInputText
                                       class="form-control">
                                <p-message severity="error" text="Zip Code is Required"
                                           *ngIf="userForm.controls['country'].hasError('required')&& userForm.controls['country'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Telephone</label>
                                <input id="phone" type="text" formControlName="phone" pInputText class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input id="mobile" type="text" formControlName="mobile" pInputText class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" [disabled]="userForm.invalid || disableUserSaveBtn"
                                    (click)="updateDetails()" class="btn btn-primary"><i class="fa fa-save"></i> Save
                                changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>