<app-cms-navbar></app-cms-navbar>
<div id="all">
    <div id="content">
        <div class="container pad-top-60">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>
