<div class="row">
    <div class="col-sm-12">
        <p-messages [(value)]="ekeaMsgs"></p-messages>
    </div>
    <div class="col-sm-12">
        <form id="sa-food-form" novalidate [formGroup]="productForm">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-8">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <p-message severity="error" text="Please Upload a image file, first."
                                           *ngIf="showFileUploadErrMsg"></p-message>
                            </div>

                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Id:
                            </div>
                            <div class="ui-grid-col-9">
                                <input pInputText type="text" formControlName="id"
                                       placeholder="ID Will Be auto generated"/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Name <span class="red-color">*</span>:
                            </div>
                            <div class="ui-grid-col-9">
                                <input pInputText type="text" formControlName="name" placeholder="Product Name"/>
                                <p-message severity="error" text="Name is Required"
                                           *ngIf="productForm.controls['name'].hasError('required')&& productForm.controls['name'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Material:
                            </div>
                            <div class="ui-grid-col-9">
                                <input pInputText type="text" formControlName="material" placeholder="Material"/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Price <span class="red-color">*</span>:
                            </div>
                            <div class="ui-grid-col-9">
                                <input pInputText type="text" formControlName="price" placeholder="Product Price"/>
                                <p-message severity="error" text="Price is Required"
                                           *ngIf="productForm.controls['price'].hasError('required')&& productForm.controls['price'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Category <span class="red-color">*</span>:
                            </div>
                            <div class="ui-grid-col-9">
                                <p-dropdown optionLabel="type" dataKey="id" placeholder="Select a product category..."
                                            [options]="categoryList" formControlName="categoryEntityId"
                                            [required]="true"></p-dropdown>
                                <p-message severity="error" text="Category is required"
                                           *ngIf="productForm.controls['categoryEntityId'].hasError('required')&&productForm.controls['categoryEntityId'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Description <span class="red-color">*</span>:
                            </div>
                            <div class="ui-grid-col-9">
                  <textarea pInputTextarea autoResize="autoResize" placeholder="Description of Product"
                            formControlName="description"></textarea>
                                <p-message severity="error" text="Description is Required"
                                           *ngIf="productForm.controls['description'].hasError('required')&& productForm.controls['description'].dirty"></p-message>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-4">
                        <img src="../../../../assets/img/default-product.png" height="100px" width="100px"> <br/>
                        <!--<img [src]="getImage()" height="100px" width="100px"-->
                        <!--*ngIf="buttonType=='editButton' && !isVisible">-->
                        <p-progressBar *ngIf="isVisible" [value]="progress.value"></p-progressBar>
                        <input type='file' (change)="onSelectFile($event)">
                        <button pButton type="submit"
                                [disabled]="!isVisible" label="upload" (click)="uploadImage()">
                        </button>
                    </div>

                </div>


                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                    </div>
                    <div *ngIf="buttonType=='addButton'" class="ui-grid-col-3">
                        <button pButton type="reset" label="Reset"></button>
                    </div>
                    <div *ngIf="buttonType=='addButton'" class="ui-grid-col-4">
                        <button pButton type="submit"
                                [disabled]="productForm.invalid" label="Save And New" (click)="submitForm(true)">
                        </button>
                    </div>
                    <div class="ui-grid-col-3">
                        <button pButton *ngIf="buttonType=='addButton'" type="submit"
                                [disabled]="productForm.invalid" label="Save" (click)="submitForm(false)">
                        </button>

                        <button pButton *ngIf="buttonType=='editButton'" type="submit"
                                [disabled]="productForm.invalid" label="Update" (click)="submitForm(false)">
                        </button>
                    </div>
                    <div class="ui-grid-col-2">
                        <button pButton type="button" label="Cancel" (click)="closeForm(false)"></button>
                    </div>


                </div>
            </div>

        </form>
    </div>
</div>

