<div class="container pad-top-60">
    <div class="row" style="margin-top: 15%">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <p-messages [(value)]="infoMsgs"></p-messages>
            <app-login [showLogo]="true" (onLoginSuccess)="onLoginSuccess($event)"></app-login>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>