<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container pad-top-60">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/webstore/home']">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Product</li>
                </ol>
            </nav>
            <div class="box">
                <h1>{{category.type}}</h1>
                <p>{{category.description}}</p>
            </div>
            <div class="pages" *ngIf="productList.length!==0">
                <p-paginator [rows]="rows" [totalRecords]="totalRecords"
                             (onPageChange)="paginate($event)"></p-paginator>
            </div>
            <div class="box" *ngIf="productList.length==0 && !loading">
                <h4 class="text-center">Sorry! There are no products available under this category.</h4>
            </div>
            <div class="box" *ngIf="loading" style="text-align: center">
                <span class="text-center"><i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>.</span>
            </div>
            <div class="row products">
                <div class="col-lg-3 col-md-4" *ngFor="let product of productList">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front"><a style="cursor: pointer"
                                                      (click)="viewProdcutDetail(product.id)"><img
                                        src="../../../assets/img/{{product.img1}}" alt=""
                                        class="img-fluid"></a></div>
                                <div class="back"><a style="cursor: pointer"
                                                     (click)="viewProdcutDetail(product.id)"><img
                                        src="../../../assets/img/{{product.img1}}" alt=""
                                        class="img-fluid"></a></div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible"><img src="../../../assets/img/{{product.img1}}" alt=""
                                                                     class="img-fluid"></a>
                        <div class="text">
                            <h3><a style="cursor: pointer" (click)="viewProdcutDetail(product.id)">{{product.name}}</a>
                            </h3>
                            <p class="price">
                                <del></del>
                                {{product.price}}€
                            </p>
                            <p class="buttons"><a style="cursor: pointer" (click)="viewProdcutDetail(product.id)"
                                                  class="btn btn-outline-secondary">View detail</a><a
                                    style="cursor: pointer" (click)="addToCart(product)" class="btn btn-primary"><i
                                    class="fa fa-shopping-cart"></i>Add to
                                cart</a></p>
                        </div>
                        <!-- /.text-->
                    </div>
                    <!-- /.product            -->
                </div>

                <!-- /.products-->
            </div>
            <div class="pages" *ngIf="productList.length!==0">
                <p-paginator [rows]="rows" [totalRecords]="totalRecords"
                             (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
        <!-- /.col-lg-9-->
    </div>
</div>