<div class="row">
    <div class="col-lg-12">
        <!-- breadcrumb-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li aria-current="page" class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <!--<div class="col-lg-3">-->
    <!--<div class="box">-->
    <!--<h3>Prefer</h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3">-->
    <!--<div class="box">-->
    <!--<h3>Prefer</h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3">-->
    <!--<div class="box">-->
    <!--<h3>Prefer</h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3">-->
    <!--<div class="box">-->
    <!--<h3>Prefer</h3>-->
    <!--</div>-->
    <!--</div>-->
    <div class="col-lg-12">
        <div id="product" class="box">
            <app-product-list></app-product-list>
        </div>
    </div>
</div>