<div class="container pad-top-60">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/webstore/home']">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Checkout - Payment method</li>
                </ol>
            </nav>
        </div>
        <div id="checkout" class="col-lg-9">
            <div class="box">
                <form method="get" action="">
                    <h1>Checkout - Payment method</h1>
                    <div class="nav flex-column flex-sm-row nav-pills"><a style="cursor: pointer"
                                                                          (click)="backToCheckout()"
                                                                          class="nav-link flex-sm-fill text-sm-center">
                        <i class="fa fa-map-marker">
                        </i>Address</a><a style="cursor: pointer" (click)="backToDelivery()"
                                          class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-truck">
                    </i>Delivery Method</a><a style="cursor: pointer"
                                              class="nav-link flex-sm-fill text-sm-center active"> <i
                            class="fa fa-money">
                    </i>Payment Method</a><a style="cursor: not-allowed"
                                             class="nav-link flex-sm-fill text-sm-center disabled"> <i
                            class="fa fa-eye"> </i>Order Review</a></div>
                    <div class="content py-3" *ngIf="localCartArr.length==0">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center">You don't have any product in cart to checkout.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="content py-3" *ngIf="localCartArr.length!==0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box payment-method">
                                    <h4>Cash on delivery</h4>
                                    <p>You pay when you get it.</p>
                                    <div class="box-footer text-center">
                                        <p-radioButton name="payment" value="CASH_ON_DELIVERY"
                                                       [(ngModel)]="paymentMethod"
                                                       (onClick)="changePaymentMode($event)"></p-radioButton>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box payment-method">
                                    <h4>Paypal</h4>
                                    <p>We like it all.</p>
                                    <div class="box-footer text-center">
                                        <p-radioButton name="payment" value="PAYPAL" [(ngModel)]="paymentMethod"
                                                       (onClick)="changePaymentMode($event)"></p-radioButton>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box payment-method">
                                    <h4>Payment gateway</h4>
                                    <p>VISA and Mastercard only.</p>
                                    <div class="box-footer text-center">
                                        <p-radioButton name="payment" value="MERCHANT_CARD" [(ngModel)]="paymentMethod"
                                                       (onClick)="changePaymentMode($event)"></p-radioButton>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.row-->
                    </div>
                    <!-- /.content-->
                    <div class="box-footer d-flex justify-content-between">
                        <button type="button" (click)="backToDelivery()" class="btn btn-outline-secondary"><i
                                class="fa fa-chevron-left"></i>Back to Shipping Method
                        </button>
                        <button *ngIf="localCartArr.length!==0" type="button" (click)="gotoReview()"
                                class="btn btn-primary">Continue to Order Review<i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </form>
                <!-- /.box-->
            </div>
        </div>
        <!-- /.col-lg-9-->
        <div class="col-lg-3">
            <div id="order-summary" class="box">
                <div class="box-header">
                    <h3 class="mb-0">Order summary</h3>
                </div>
                <p *ngIf="localCartArr.length!==0" class="text-muted">Shipping and additional costs are calculated based
                    on the values you have
                    entered.</p>
                <p *ngIf="localCartArr.length==0" class="text-muted"> You don't have any product in cart to show order
                    summary.</p>
                <div class="table-responsive" *ngIf="localCartArr.length!==0">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Order subtotal</td>
                            <th>{{totalAmount}}€</th>
                        </tr>
                        <tr>
                            <td>Shipping and handling</td>
                            <th>{{shippingCost}}€</th>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <th>0.00€</th>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <th>{{totalAmount + shippingCost}}€</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="box">-->
            <!--<div class="box-header">-->
            <!--<h4 class="mb-0">Coupon code</h4>-->
            <!--</div>-->
            <!--<p class="text-muted">If you have a coupon code, please enter it in the box below.</p>-->
            <!--<form>-->
            <!--<div class="input-group">-->
            <!--<input type="text" class="form-control"><span class="input-group-append">-->
            <!--<button type="button" class="btn btn-primary"><i class="fa fa-gift"></i></button></span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /input-group&ndash;&gt;-->
            <!--</form>-->
            <!--</div>-->
        </div>
        <!-- /.col-lg-3-->
    </div>
</div>