<div class="container pad-top-60">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/webstore/home']">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">My orders</li>
                </ol>
            </nav>
        </div>
        <div id="customer-orders" class="col-lg-12">
            <div class="box">
                <h1>My orders</h1>
                <p class="lead">Your orders on one place.</p>
                <p class="text-muted">If you have any questions, please feel free to contact
                    us, our customer service center is working for you 24/7.</p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of orderList">
                            <th># {{order.id}}</th>
                            <td>{{order.orderDate | date}}</td>
                            <td><span style="padding: 7px"
                                      [ngClass]="{'badge-info':order.orderStatus===BEING_PREPARED, 'badge-success':order.orderStatus===RECEIVED, 'badge-danger': order.orderStatus===CANCLLED, 'badge-warning': order.orderStatus===ON_HOLD}"
                                      class="badge">{{order.orderStatus}}</span></td>
                            <td>
                                <button type="button" (click)="onDetailView(order)" class="btn btn-primary btn-sm">View
                                    Details
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>